$color-primary: #7a4d3d;
$color-secondary: #e6b663;
$color-bg: #fbf7f0;
$text-color: #1b0c01;

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 2rem 1rem 1rem 0;
  background-color: rgba($text-color, 0.96);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

.logo {
  object-fit: fill;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  font-weight: 200;
  p {
    color: $color-bg;
  }
}

.copyright {
  font-size: 0.8rem;
}
